* {
  color: #fff;
  font-family: 'Inter', sans-serif;
}

body {
  width: 375px;
}

.orangeBtn {
  width: 124px;
  height: 48px;
  background: #ff6b00;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  border: none;
}

/* header block */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375px;
  height: 92px;
  background-color: #3e3c3c;
  box-sizing: border-box;
}

#topHead,
#bottomHead {
  display: flex;
  margin-left: 24px;
}

#time {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.28px;
  width: 54px;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 24px;
}

#appBar {
  display: flex;
  margin-top: 10px;
  margin-left: 170px;
}

.app {
  margin: 5px;
  list-style: none;
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 24px;
}

.unionImg {
  display: flex;
  align-items: center;
  margin-left: 190px;
  margin-top: 5px;
}

/* headline block */

#headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 375px;
  height: 590px;
  padding: 120px 24px;
  box-sizing: border-box;
  background-color: #1c1a19;
  background-image: url("Icons/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position-x: 228px;
  background-position-y: 220px;
}

#title {
  color: #ff6b00;
  font-weight: 400;
  font-size: 56px;
  font-family: 'Crete Round', serif;
  line-height: 64px;
  flex-grow: 0;
  margin: 12px 0;
  letter-spacing: 0.37px;
}

#subtitle {
  color: #fff5e1;
  font-weight: 700;
  font-size: 24px;
  height: 27px;
  flex-grow: 0;
  margin: 0;
  display: flex;
  align-items: center;
  line-height: 32px;
}

#mainDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex-grow: 0;
  margin: 12px 0;
  height: 123px;
}

.socialMedia {
  list-style: none;
  display: flex;
  margin-left: 11px;
  padding: 0;
  margin-top: 0;
}

.imgSoc1 {
  margin-left: 0;
  margin-right: 20px;
  margin-top: 10px;
}

/* work block */

#work {
  display: grid;
  grid-template-rows: repeat(8, auto);
  align-items: center;
  justify-content: center;
}

#workTitle {
  color: #1c1a19;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  border-bottom: 1px solid #212121;
  width: 327px;
  height: 83px;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 24px;
  margin-bottom: 0;
}

#workImage {
  margin-top: 80px;
  margin-bottom: 12px;
}

#storyTitle {
  color: #091e42;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  width: 327px;
  height: 36px;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 0;
  margin-top: 12px;
  display: flex;
  align-items: center;
}

#storyParagr {
  color: #091e42;
  font-weight: 400;
  width: 327px;
  height: 147px;
  font-size: 16px;
  line-height: 24px;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 12px;
}

#storyTags {
  margin-top: 12px;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;

}

.tagS {
  color: #091e42;
  padding: 10px 12px;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  height: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  float: left;
}

.storyProjectBtn {
  margin-top: 12px;
  margin-bottom: 12px;
  width: 124px;
}

.workProject {
  display: flex;
  flex-direction: column;
  background-image: url("Icons/workBackground.png");
  width: 327px;
  height: 386px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.proWorkTitle {
  font-family: 'Crete Round', serif;
  font-weight: 400;
  width: 295px;
  height: 81px;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 0;
  margin-top: 84px;
  margin-left: 16px;
  display: flex;
  align-items: center;
}

.proWorkDesc {
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 295px;
  height: 87px;
}

.proTags {
  margin-top: 12px;
  margin-bottom: 12px;
  display: grid;
  list-style: none;
  grid-template-columns: auto auto auto;
  padding-left: 16px;
  column-gap: 12px;
  width: 236px;
}

.tagP {
  text-align: center;
  padding: 10px 12px;
  background-color: rgba(255, 255, 255, 0.24);
  box-sizing: border-box;
  height: 40px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.seeProjectBtn {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 101.5px;
  width: inherit;
  transform: translateX(-101.5px);
}

/* aboutMeblock  */

#aboutMeBox {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 108px;
  margin-left: 0;
  padding-left: 0;
  width: 375px;
  height: 1901px;
  border: 1 solid black;
  background-image: url("Icons/aboutMe.png");
  background-repeat: no-repeat;
  background-position: 215px 400px;
}

#aboutMeTitle {
  font-family: 'Crete Round', serif;
  color: #ff6b00;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  margin-top: 120px;
  margin-bottom: 12px;
}

#aboutMeDesc {
  color: #f4f5f7;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 327px;
  height: 148px;
}

.resumeBtn {
  margin-top: 12px;
  margin-bottom: 209px;
  transform: translateX(-81.5px);
  width: 161px;
}

.line {
  width: 327px;
  border-bottom: 1px solid #fff;
  margin-bottom: 136px;
}

#skillsBox {
  list-style: none;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 44px;
  padding-left: 0;
}

.filedOfSkill > ul {
  list-style: none;
  display: grid;
  grid-template-rows: 24px 24px 24px 24px 24px;
  row-gap: 32px;
  padding: 0;
}

.ro,
.rec,
.cir {
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
  margin-right: 12px;
}

.skillTitle {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 44px;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  height: 24px;
  align-items: center;
}

.ro {
  transform: rotate(45deg);
}

.cir {
  border-radius: 100%;
}

.skill {
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x {
  margin-top: -56px;
}

.orangeBtn:hover {
  background: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.orangeBtn:active {
  background: #e05304;
  color: #fff;
  border: 1px solid #f55800;
}

.orangeBtn:disabled {
  background: inherit;
  color: #5b5957;
  border: none;
}

/* contact section */

#contact-section {
  width: 375px;
  box-sizing: border-box;
}

#contact-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  width: 327px;
  margin: 120px 24px 73px 24px;
}

#contactForm {
  width: 327px;
  margin: 0 24px;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 36px;
}

.inputContact {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  padding: 0 16px 14px 16px;
  box-sizing: border-box;
  width: 327px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

#msg-contact {
  border: none;
  padding: 12px;
  height: 114px;
}

.inputContact:focus,
#msg-contact:focus {
  outline: none !important;
  border: 1px solid #f55800;
}

.submit-contact {
  width: 131px;
  margin-left: 98px;
  margin-top: -12px;
}

footer {
  padding: 25px 95px;
  border-top: 1px solid #dfe1e6;
  margin: 124px 0 8px 0;
}

.footerIcon {
  filter: invert(80%);
}

.headerLine {
  border-top: 5px solid #0d151e;
  margin-left: 36px;
  width: 134px;
}
