* {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  line-height: 24px;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font: normal 100% Helvetica, 'Inter', sans-serif;
}

main {
  display: grid;
  grid-template-rows: repeat(4, auto);
  margin: 0;
  width: 100%;
  align-items: center;
}

.normalTitle {
  font-family: 'Crete Round', serif;
  font-size: 2em;
  line-height: 44px;
  display: flex;
  align-items: center;
}

.orangeBtn {
  height: 48px;
  background: #c41d00;
  font-weight: 800;
  font-size: 1.0625em;
  line-height: 24px;
  color: rgb(229, 225, 243);
  border: 1px solid black;
}

.orangeBtn:hover {
  background: #fff5e1;
  color: #180e09;
  border: 1px solid #f55800;
}

.orangeBtn:active {
  background: #e05304;
  color: #fff;
  border: 1px solid #f55800;
}

.orangeBtn:disabled {
  background: inherit;
  color: #5b5957;
  border: none;
}

.orangeBtn:focus {
  outline: none !important;
  border: 2px solid rgb(16, 16, 17);
  box-shadow: 0 0 2px 2px rgb(3, 3, 3);
}

/* header block */

header {
  left: 0;
  top: 0;
  right: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  background-color: #3e3c3c;
  box-sizing: border-box;
  padding: 12px 5%;
}

#logo {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.125em;
  line-height: 24px;
  transition: color 0.5s, font-size 0.5s;
  cursor: pointer;
  text-decoration: none;
}

#logo:hover {
  color: greenyellow;
  font-size: 1.25em;
}

.headTabs {
  display: none;
}

.unionImg {
  transition: all 0.5s;
}

.unionImg:hover {
  filter: brightness(0.2) invert(0.5) sepia(0.8) hue-rotate(100deg) saturate(200%);
  width: 22px;
  height: 24px;
}

/* headline block */

#headline {
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 590px;
  padding: 120px 5%;
  box-sizing: border-box;
  background-color: #1c1a19;
  background-image: url("Icons/illustration-header-mobile.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 220px;
  width: 100%;
}

#title {
  color: #ff6b00;
  font-size: 3.5em;
  font-family: 'Crete Round', serif;
  line-height: 64px;
  flex-grow: 0;
  margin: 12px 0;
  letter-spacing: 0.37px;
  height: auto;
}

#subtitle {
  color: #fff5e1;
  font-weight: 700;
  font-size: 1.5em;
  height: auto;
  flex-grow: 0;
  margin: 0;
  display: flex;
  align-items: center;
  line-height: 32px;
}

#mainDescription {
  flex-grow: 0;
  margin: 12px 0;
  height: auto;
}

.socialMedia {
  list-style: none;
  display: flex;
  margin-left: 11px;
  padding: 0;
  margin-top: 0;
}

.imgSoc1 {
  margin-left: 0;
  margin-right: 20px;
  margin-top: 10px;
}

/* work block */

#work {
  display: grid;
  grid-template-rows: repeat(8, auto);
  align-items: center;
  justify-content: center;
  width: 86%;
  margin-left: 7%;
}

#workTitle {
  color: #1c1a19;
  border-bottom: 1px solid #212121;
  height: 83px;
  font-size: 2.5em;
  line-height: 52px;
  padding-top: 120px;
  padding-bottom: 24px;
  margin-bottom: 0;
}

#workImage {
  margin-top: 80px;
  margin-bottom: 12px;
}

#storyTitle {
  color: #091e42;
  height: auto;
  margin-bottom: 0;
  margin-top: 12px;
}

#storyParagr {
  color: #091e42;
  height: auto;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 12px;
}

#storyTags {
  margin-top: 24px;
  margin-bottom: 24px;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 12px;
  width: 320px;
  height: auto;
}

.tagS {
  color: #091e42;
  border: 2px solid #080808;
  box-sizing: border-box;
  height: 40px;
  font-weight: 500;
  font-size: 0.9375em;
  line-height: 20px;
  margin-bottom: 12px;
  text-decoration: none;
  padding: 12px;
}

.tagS:focus {
  outline: none !important;
  border: 2px solid rgb(16, 17, 16);
  box-shadow: 0 0 2px 2px rgb(14, 13, 13);
  background-color: rgb(13, 59, 15);
  color: white;
}

.storyProjectBtn {
  margin-bottom: 12px;
  width: 37.92%;
}

.workProject {
  display: flex;
  flex-direction: column;
  background-image: url("Icons/workBackground.png");
  height: 386px;
  margin-top: 12px;
  margin-bottom: 12px;
  transition: all 0.5s;
}

.workProject:hover {
  box-shadow: 0 0 20px 20px rgba(56, 67, 117, 0.534);
}

.proWorkTitle {
  width: 90.214%;
  height: 81px;
  margin-bottom: 0;
  margin-top: 84px;
  margin-left: 4.9%;
}

.proWorkDesc {
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 4.9%;
  width: 90.214%;
  height: auto;
}

.proTags {
  margin-top: 12px;
  margin-bottom: 12px;
  display: grid;
  list-style: none;
  grid-template-columns: auto auto auto;
  padding-left: 4.9%;
  column-gap: 4.8%;
  width: 72.17%;
}

.tagP {
  text-align: center;
  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.24);
  box-sizing: border-box;
  height: 40px;
  font-weight: 500;
  font-size: 0.9375em;
  line-height: 20px;
  text-decoration: none;
}

.tagP:focus {
  outline: none !important;
  border: 1px solid #405715;
  box-shadow: 0 0 5px 5px rgba(132, 199, 118, 0.329);
  background-color: rgb(24, 95, 42);
}

.seeProjectBtn {
  margin-top: auto;
  margin-bottom: 0;
  width: 100%;
}

/* aboutMeblock  */

#aboutMeBox {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  margin-top: 108px;
  margin-left: 0;
  height: 1901px;
  background-image: url("Icons/aboutMe.png");
  background-repeat: no-repeat;
  background-position: 100% 400px;
  width: 100%;
  padding-left: 24px;
}

#aboutMeTitle {
  font-family: 'Crete Round', serif;
  color: #ff6b00;
  font-size: 4.5em;
  line-height: 88px;
  letter-spacing: 0.37px;
  margin-top: 120px;
  margin-bottom: 12px;
}

#aboutMeDesc {
  color: #f4f5f7;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 87.2%;
  height: auto;
}

.resumeBtn {
  margin-top: 36px;
  margin-bottom: 209px;
  width: 42.933%;
  border: 2px solid rgb(218, 228, 210);
}

.resumeBtn:focus {
  outline: none !important;
  border: 2px solid rgb(229, 229, 238);
  box-shadow: 0 0 2px 2px rgb(240, 235, 235);
}

.line {
  width: 87.2%;
  border-bottom: 1px solid #fff;
  margin-bottom: 136px;
}

#skillsBox {
  list-style: none;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 44px;
  padding-left: 0;
}

.filedOfSkill > ul {
  list-style: none;
  display: grid;
  grid-template-rows: 24px 24px 24px 24px 24px;
  row-gap: 32px;
  padding: 0;
}

.ro,
.rec,
.cir {
  width: 18px;
  height: 18px;
  background-color: #ff6b00;
  margin-right: 12px;
}

.skillTitle {
  font-family: 'Inter', sans-serif;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 44px;
  font-weight: 700;
  height: 24px;
}

.ro {
  transform: rotate(45deg);
}

.cir {
  border-radius: 100%;
}

.skill {
  font-size: 1.375em;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.x {
  margin-top: -56px;
}

/* contact section */

#contact-section {
  box-sizing: border-box;
}

#contact-title {
  font-weight: 700;
  font-size: 2em;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  width: 87.2%;
  margin: 120px 24px 73px 24px;
}

#contactForm {
  width: 87.2%;
  margin: 0 24px;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 36px;
}

#contactForm fieldset {
  display: flex;
  justify-content: center;
  border: none;
}

.inputContact {
  font-size: 0.9375em;
  color: #3c3a39;
  padding: 0 16px 14px 16px;
  box-sizing: border-box;
  width: 100%;
  border: none;
  border-bottom: 1px solid #dbd8d7;
}

#msg-contact {
  border: none;
  padding: 12px;
  height: 114px;
}

.inputContact:focus,
#msg-contact:focus {
  outline: none !important;
  border: 1px solid #f55800;
}

.submit-contact {
  width: 40.06%;
}

footer {
  width: 100%;
  padding: 25px 0 5px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid #dfe1e6;
  margin: 124px 0 8px 0;
  box-sizing: border-box;
}

.footerIcon {
  filter: invert(70%);
}

.footerLine {
  border-top: 5px solid #0d151e;
  width: 134px;
}

@media (min-width: 768px) {
  /* header block */

  #logo {
    animation-name: colorChange;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes colorChange {
    from {
      color: yellow;
    }

    to {
      color: blue;
    }
  }

  .headTabs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 32px;
    justify-content: right;
  }

  .headTabs a {
    transition: color 0.5s, font-size 0.5s;
    cursor: pointer;
    text-decoration: none;
  }

  .headTabs a:hover {
    color: greenyellow;
    font-size: 1.25em;
  }

  .imgSoc1 img {
    width: 1.65em;
    height: 1.65em;
    margin-top: 12px;
  }

  .headTabs a img {
    filter: brightness(0.2) invert(0.5) sepia(0.8) hue-rotate(100deg) saturate(200%);
    cursor: pointer;
  }

  .headTabs a img:hover {
    filter: brightness(0.2) invert(0.7) sepia(0.5) hue-rotate(100deg) saturate(200%);
    width: 22px;
    height: 24px;
  }

  .unionImg {
    display: none;
  }

  header {
    width: 100%;
    padding-left: 7%;
  }

  main {
    width: 100%;
  }

  #headline {
    height: 870px;
    background-image: url("Icons/headline-big-background.svg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
  }

  #title {
    margin: 0 0 12px 0;
    width: 30%;
    padding-right: 12px;
    font-size: 3.5em;
    line-height: 62px;
    animation-name: colorChange;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  #subtitle {
    font-size: 2em;
    line-height: 44px;
  }

  #mainDescription {
    width: 40%;
    padding-top: 12px;
  }

  .socialMedia {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    margin-right: 2%;
  }

  /* work block */

  #workTitle-label {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1px;
    margin-top: 135px;
    justify-content: center;
  }

  #workTitle {
    border: none;
    height: 1px;
    padding: 0;
    margin: 0;
    font-size: 2.5em;
    width: 400px;
  }

  .empty1 {
    border-top: 1px solid black;
    height: 1px;
    width: 45vw;
  }

  #storyBox {
    display: flex;
    justify-content: center;
  }

  #workImage {
    margin-top: 114px;
    margin-bottom: 12px;
    max-width: 684px;
    max-height: 448px;
    margin-right: 24px;
    width: 50vw;
    height: 60vw;
    transition: width 0.5s, height 0.5s;
  }

  #workImage:hover {
    width: 700px;
    height: 500px;
  }

  .story-con {
    display: flex;
    flex-direction: column;
  }

  #storyTitle {
    height: 36px;
    margin-top: 114px;
  }

  #storyParagr {
    margin-top: 12px;
    font-size: 1.25em;
    line-height: 28px;
    width: 30vw;
    height: auto;
  }

  .storyProjectBtn {
    margin-top: 24px;
    width: 150px;
    animation-name: button;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  @keyframes button {
    from {
      width: 120px;
      height: 50px;
    }

    to {
      width: 150px;
      height: 70px;
    }
  }

  .table {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    row-gap: 24px;
    column-gap: 24px;
    justify-content: center;
    margin-top: 24px;
  }

  .workProject {
    width: 30vw;
    max-width: 369px;
    height: 435px;
    margin: 0;
  }

  .proWorkTitle {
    margin-top: 178px;
  }

  .seeProjectBtn {
    display: none;
  }

  #aboutMeBox {
    margin-top: 130px;
    height: 1195px;
    background-image: url("Icons/about-me-big.svg");
    background-position: 100% 100px;
    padding-left: 9.86%;
    box-sizing: border-box;
  }

  #aboutMeDesc {
    width: 566px;
    font-size: 1.25em;
    line-height: 32px;
  }

  .resumeBtn {
    width: 161px;
    margin-top: 24px;
    padding: 12px;
  }

  #skillsBox {
    grid-template-columns: auto auto auto;
    column-gap: 44px;
    justify-content: space-between;
    width: 80%;
    align-items: center;
  }

  .skill {
    justify-content: left;
  }

  .x {
    margin-top: 0;
  }

  #contact-section {
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    padding-left: 134px;
    padding-right: 134px;
  }

  /* contact section */

  #contact-title {
    margin: 0 24px 73px 24px;
    text-align: left;
    width: 50%;
    font-size: 2.5em;
    line-height: 52px;
    color: #262626;
  }

  .submit-contact {
    width: 122px;
    margin-left: -85%;
    margin-top: -20px;
  }

  footer {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    border: none;
  }

  footer .socialMedia {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .footerIcon {
    filter: invert(70%);
  }

  .footerLine {
    display: none;
  }

  .a1 {
    padding-top: 100px;
    background-image: url("Icons/article1.png");
    box-sizing: border-box;
  }

  .a2 {
    background-image: url("Icons/article2.png");
  }

  .a3 {
    background-image: url("Icons/article3.png");
  }

  .a4 {
    background-image: url("Icons/article4.png");
  }

  .a1 > * {
    display: none;
  }

  .a1 button {
    display: block;
    margin: auto 0 0 0;
  }
}
